<p id="notice"><%= notice %></p>

<h1>Editable Pages</h1>

<p class="lead">The following pages are editable by admin. Keep it simple, and avoid using HTML which could cause breakage.</p>
<p class="lead">Allowed tags: H, b, i, a href, and ul / li
    <% @pages.each do |page| %>
	<div class="pages">
      <h3><%= page.title %></h3>
       
	   <%= simple_format (truncate(page.content, length: 200))%>
       
        <%= link_to 'Edit', edit_page_path(page) %> <%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
 
<%= link_to 'New Page', new_page_path %>
