
<% content_for :override do %>

<div class="differences">
<%= image_tag 'differences.png', class: "img-fluid "%>
</div>
			<div class="table-responsive">
			<table class="comparison-table">
				<tr>
			<td class="ct ct-header ct-inc"></td>
				
					<td class="ct ct-header ct-og">Matt</td>
					<td class="ct ct-header ct-og">Brett</td>
					<td class="ct ct-header ct-og">Will</td>
					<td class="ct ct-header ct-og">Lucas</td>
					
						
								</tr>
								
								
								
								
										<tr>
				<td class="ct ct-inc">Grey hair?<br/><small><%= link_to '(Senior perspective & experience)', about_path %></small></td>
				
							<td class=" ct ct-og"><span class="fa fa-check"></span></td>
							<td class=" ct ct-ss">Some</td>
								<td class=" ct ct-ss"><span class="fa fa-times"></span></td>
								<td class=" ct ct-ss"><span class="fa fa-times"></span></td>
				
											</tr>
				<tr>
					<td class="ct ct-inc">Wharton MBA?<br/><small><%= link_to '(Fiscal Expertise)', about_path %></small></td>
						<td class=" ct ct-og"><span class="fa fa-check"></span></td>
						<td class=" ct ct-ss"><span class="fa fa-times"></span></td>
							<td class=" ct ct-ss"><span class="fa fa-times"></span></td>
							<td class=" ct ct-ss"><span class="fa fa-times"></span></td>
				</tr>										

				<tr>
					<td class="ct ct-inc">Woodstock on a $1.16 budget?<br/><small><%= link_to '(Gets the most from a dollar)', about_path %></small></td>
						<td class=" ct ct-og"><span class="fa fa-check"></span></td>
						<td class=" ct ct-ss"><span class="fa fa-times"></span></td>
							<td class=" ct ct-ss"><span class="fa fa-times"></span></td>
							<td class=" ct ct-ss"><span class="fa fa-times"></span></td>
				</tr>
				
				<tr>
					<td class="ct ct-inc">Your vote?</td>
						<td class=" ct ct-og"><span class="fa fa-check"></span></td>
						<td class=" ct ct-ss"></td>
							<td class=" ct ct-ss"></td>
							<td class=" ct ct-ss"></td>
				</tr>
				
																											
				
			</table>
		</div>
		<p></p>
		<p>Matt was interviewed recently by iSeeDavis, where he talked about financial responsibility, accountability, and Woodstock amongst other things - you can <%= link_to 'watch the iSeeDavis video interview here', 'http://www.matt4davis.com/news/video-interview-iseedavis-interviews-matt'%>.</p>


<% end %>
