<h1>Contact Us</h1>

<p class="lead">Use this form to send us a message, and we'll do our best to respond to you promptly.	</p>


   
	<%= bootstrap_form_for @contact, url: {:action=>'create'} do |f| %>

	  <%= f.text_field :name %>

	  <%= f.email_field :email %>

  	
		
	  <%= f.text_area :body, label: 'Message', placeholder: 'Your message', class: "message-field" %>

  	
		
	  <%= f.submit 'Submit', class: 'btn btn-default btn-about pull-right'%>
 

	<% end %>
	
	<% content_for :rh do %>
	
	<h3>Contact Us</h3>
	<p><strong>Matt Williams for Davis City Council</strong><br/>
1727 Pomona Drive,<br/>
Davis, CA 95616<br/>

<p>Tel: 530-297-6237<br/>
Email: <%= mail_to 'Matt4Davis@pacbell.net' %></p>
	
	<% end %>